<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All-star HR - Welcome!</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fdff96" class="bi bi-stars" viewBox="0 0 16 16">
                        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
                    </svg>
                </div>
                <div class="sidebar-brand-text mx-3">All-star HR<sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item text-gray-100">
                <a class="nav-link" href="/">
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading text-gray-100">
                Resources
            </div>

            <!-- Nav Item-->
            <li class="nav-item active">
                <a class="nav-link" href="/newHires">
                    <i class="fas fa-fw fa-table"></i>
                    <span>New Hires</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/terminations">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Terminations</span></a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>All History</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading text-gray-100">
                Analytics
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/mlModel">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Predictive Attrition Model</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Heading -->
                    <h4>New Hires</h4>
                
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading Form -->
                    <div class='row'>
                        <!-- Pie Chart -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">Create a New Employee</h6>
                                </div>
                                <!-- Form Body -->
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <form action="/newHires" method="post">
                                            <div class='row'>
                                                <div class='col-lg-4'>
                                                    <label for="employeeID">Employee Name:</label>
                                                    <input type="text" id="employeeName" name="employeeName" placeholder="Last, First">
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="employeeSalary">Salary:</label>
                                                    <input type="number" id="employeeSalary" name="employeeSalary" size="6">
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="position">Position:</label>
                                                    <select id="position" class="form-select" aria-label="Default select example" name="position" style="width:175px">
                                                        {% for position in positions %}
                                                        <option value="{{position.position}}">{{position.position}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class='row'>
                                                <div class='col-lg-4'>
                                                    <label for="state">State:</label>
                                                    <input type="text" id="state" name="state" size="2">
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="zipCode">Zip Code:</label>
                                                    <input type="number" id="zipCode" name="zipCode">
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="dob">Date of Birth:</label>
                                                    <input type="date" id="dob" name="dob">
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-lg-4'>
                                                    <label for="gender">Gender:</label>
                                                    <select id="gender" class="form-select" aria-label="Default select example" name="gender">
                                                        <option value="M">Male</option>
                                                        <option value="F">Female</option>
                                                    </select>
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="maritalStatus">Marital Status:</label>
                                                    <select id="maritalStatus" class="form-select" aria-label="Default select example" name="maritalStatus" style="width:175px">
                                                        <option value="Divorced">Divorced</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Separated">Separated</option>
                                                        <option value="Single">Single</option>
                                                        <option value="Widowed">Widowed</option>
                                                    </select>
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="citizenshipStatus">Citizenship Status:</label>
                                                    <select id="citizenshipStatus" class="form-select" aria-label="Default select example" name="citizenshipStatus" style="width:175px">
                                                        <option value="US Citizen">US Citizen</option>
                                                        <option value="Non-Citizen">Non-Citizen</option>
                                                        <option value="Eligible NonCitizen">Eligible NonCitizen</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-lg-4'>
                                                    <label for="hispanic">Hispanic:</label>
                                                    <select id="hispanic" class="form-select" aria-label="Default select example" name="hispanic" style="width:175px">
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="ethnicity">Ethnicity:</label>
                                                    <select id="ethnicity" class="form-select" aria-label="Default select example" name="ethnicity" style="width:175px">
                                                        <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
                                                        <option value="Asian">Asian</option>
                                                        <option value="Black or African American">Black or African American</option>
                                                        <option value="Hispanic">Hispanic</option>
                                                        <option value="Two or more races">Two or more races</option>
                                                        <option value="White">White</option>
                                                    </select>
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="hireDate">Hire Date:</label>
                                                    <input type="date" id="hireDate" name="hireDate">
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-lg-4'>
                                                    <label for="department">Department:</label>
                                                    <select id="department" class="form-select" aria-label="Default select example" name="department" style="width:175px">
                                                        <option value="Admin Offices">Admin Offices</option>
                                                        <option value="Executive Offices">Executive Office</option>
                                                        <option value="IT/IS">IT/IS</option>
                                                        <option value="Production">Production</option>
                                                        <option value="Sales">Sales</option>
                                                        <option value="Software Engineering">Software Engineering</option>
                                                    </select>
                                                </div>
                                                <div class='col-lg-4'>
                                                    <label for="recruited">Recruited From:</label>
                                                    <select id="recruited" class="form-select" aria-label="Default select example" name="recruited" style="width:175px">
                                                        <option value="CareerBuilder">CareerBuilder</option>
                                                        <option value="Diversity Job Fair">Diversity Job Fair</option>
                                                        <option value="Employee Referral">Employee Referral</option>
                                                        <option value="Google Search">Google Search</option>
                                                        <option value="Indeed">Indeed</option>
                                                        <option value="LinkedIn">LinkedIn</option>
                                                        <option value="On-line Web application">On-line Web application</option>
                                                        <option value="Other">Other</option>
                                                        <option value="Website">Website</option>
                                                    </select>
                                                </div>
                                                <div class='col-lg-4'>
                                                    <button type="submit" class="btn " style="background-color:#B0F0B8;">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark">Most Recent Hires</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>ID</th>
                                            <th>Position</th>
                                            <th>Department</th>
                                            <th>Hire Date</th>
                                            <th>Sourced From</th>
                                        </tr> <!-- header above -->
                                    </thead>
                                    <tbody>
                                        {% for row in rows %}  
                                        <tr>  
                                            <td>{{row["employee_name"]}}</td>
                                            <td>{{row["employee_id"]}}</td>
                                            <td>{{row["position"]}}</td>
                                            <td>{{row["department"]}}</td>
                                            <td>{{row["hired_date"]}}</td>
                                            <td>{{row["source_recruiting"]}}</td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/datatables-demo.js"></script>

</body>

</html>